@model modnaKompanija_Web.Controllers.DetaljiProizvodaController.IndexVM

<div class="box" id="details">
    <p>
        <h4>Detalji</h4>
    <p>Dizajner: @Model.proizvodi.FirstOrDefault().ImeDizajnera @Model.proizvodi.FirstOrDefault().PrezimeDizajnera</p>
    <p>ocijenite dizajnera: </p>


    <h4>Sezona</h4>
    <ul>
        <li>@Model.proizvodi.FirstOrDefault().Sezona</li>

    </ul>

    <blockquote>
        <p>
            <em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
        </p>
    </blockquote>

    <hr>
    <div class="social">
        <h4>Show it to your friends</h4>
        <p>
            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
        </p>
    </div>
</div>