

    <div id="all">

        <div id="content">
            <div class="container">


       
                <div class="col-md-3">
           
                    @*@Html.Action("GetNajOcijenjeneProizvode", "Preporuka")*@
                  

               

                </div>
                <div style="text-align:center">
                  

                        <div class="box" id="contact">
                            <h1>Kontakt</h1>

                            <p class="lead">Znatiželjni ste ? Imate neku vrstu problema vezano za naše proizvode?</p>
                            <p>Kontaktirajte nas, naš centar za podršku korisnicima radi za vas 24/7.</p>

                            <hr>

                            <div class="row">
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-map-marker"></i> Adresa</h3>
                                    <p>
                                        mK
                                        <br>Sjeverni Logor br.12
                                        <br>Mostar 88220

                                        <br>
                                        <strong>Bosna i Hercegovina</strong>
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-phone"></i> Pozivni centar</h3>
                                    <p class="text-muted">Pozivi prema ovom broju su besplatni ako zovete iz Bosne i hercegovine, u drugom slučaju savjetujemo da nas kontaktirate elektronskim putem.</p>
                                    <p>
                                        <strong>+38 736446150</strong>
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-envelope"></i> Elektornska podršaka</h3>
                                    <p class="text-muted">U slučaju bilo kakvih pitanja pošaljite nam e-mail.</p>
                                    <ul>
                                        <li>
                                            <strong><a href="mailto:">info@info.com</a></strong>
                                        </li>

                                    </ul>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>
                            <!-- /.row -->

                            <hr>




                        </div>


                        <!-- /.row -->

                    
                    <!-- /.content -->
                    <br />
                </div>


                    <!-- /.col-md-9 -->
                    <!-- /.col-md-3 -->

                </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->



    </div>
l>