<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="shim" version="1.0.2.50909" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Validation" version="2.0.6.15003" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="WebApiRestService.WebApiClient" version="1.1" targetFramework="portable-net45+win+wpa81+wp80" />
</packages>